/* ========== ROOT & GLOBAL ========== */
:root {
    --primary-color: #29a06f;
    --secondary-color: #00b8ff;
    --bg-dark: #eeeeee;
    --matrix-green: #228b3c;

    font-family: "Google Manrope";
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg-dark);
    color: black;
}

/* ========== LANDING PAGE ========== */
.landing {
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    padding-top: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .titles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}

.landing .lettre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;
    padding: 10px;
    transform-origin: top center;
    will-change: transform;
}

.landing .lettre:hover {
    transform: scaleY(1.1);
}

.landing .lettre h2 {
    font-size: 6em;
    margin: 0;
    font-family: "Google Archivo";
    color: var(--matrix-green);
    transition: 0.3s ease;
}

.landing .lettre p {
    text-orientation: upright;
    writing-mode: vertical-rl;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    opacity: 0.8;
}

/* ========== CONTENT AREA ========== */
section {
    box-sizing: border-box;
    width: 100vw;
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

section.active {
    display: block;
    opacity: 1;
}

#smiley {
    image-rendering: pixelated;
    width: 200px;
    align-content: center;
}
