@font-face {
    font-family: 'Google Manrope';
    src: url('Google-Manrope.eot');
    src: url('Google-Manrope.eot?#iefix') format('embedded-opentype'),
        url('Google-Manrope.woff2') format('woff2'),
        url('Google-Manrope.woff') format('woff'),
        url('Google-Manrope.ttf') format('truetype'),
        url('Google-Manrope.svg#Manrope-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
