#cookie-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: black;
}

#cookie-popup.active {
    display: block;
}

#cookie-popup .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#cookie-popup .body {
    font-size: 14px;
    margin-bottom: 20px;
}

#cookie-popup .buttons {
    text-align: right;
}

#cookie-popup .buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}